.recipe {
	margin: 80px 250px 0px 250px;
	font-family: sans-serif;
}

ul li:before {
	content: "- ";
}

ol li:before {
	counter-increment: section;
	content: "" counter(section) ') ';
}

ul li, ol li {
	list-style-type: none;
}


#ingredients-row {
	color: rgb(82, 78, 78);
	border-bottom: 2px solid rgb(102, 98, 98);
	margin: 0px 0px 50px 0px;
	text-align: center;
}

h1 {
	padding-top: 220px;
}

h2 {
	color: black;
	font-size: 20px;
	text-align: left;
	margin-bottom: 35px;
}

#description-row {
	align-items: center;
	align-content: center;
	margin: 100px 0px 50px 0px;
	font-size: 20px;
	border-bottom: 2px solid grey;
	color: grey;
	text-align: center;
}

#description-row, p {
	text-align: left;
}


#description-row, img {
	text-align: center;
	margin-bottom: 30px;
	margin-top: 30px;
}

#description-img {
	align-items: center;
	margin-bottom: 30px;
}

#header-img {
	background-image: url('../images/apple-pie.jpg');
	background-size: cover;
	font-size: 40px;
	font-family: Helvetica;
	margin: 0px;
	padding: 0px;
	border: 0px;
	text-align: center;
	color: white;
	vertical-align: middle;
	width: 100%;
	height: 500px;
}

#ingredients-row {
	color: grey;
	border-bottom: 2px solid grey;
	margin: 0px 0px 50px 0px;
	text-align: center;
}


#ingredient-row, li {
	color: grey;
	font-size: 18px;
	text-align: left;
}

* {
	margin: 0px;
	border: 0px;
	padding: 0px;
}

body {
	margin-bottom: 30px;
	counter-reset: section;
}




